.modal-footer .btn-default{
  color: #FFF;
}

/* surcharge css bootstrap */
.modal-content{
  background: #3f3f3f;
}

/* My CSS */
.domaine-container{
  padding-top: 1em;
}

.titre-pays{
  position: absolute;
  top: 0;
  left: 30%;
  width: 300px;
  text-shadow: 0px 0px 10px #FFF;
  padding-top: 0.2em;
}


#liste-domaine {
  margin: 0;
  padding: 0;
}

#liste-domaine li>div.mi-label{
  padding: 0.5em;
}

#liste-domaine li{
  cursor: pointer;
  display: block;
  background: rgba(2, 2, 2, 0.5);
  margin: 0.5em;

}

#mi-loading-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
}

#mi-loading-overlay img{
  width: 100%;
  opacity: 0.2;
}

.mi-toolbar{
    height: 50px;
    left: 0;
    top: 0;
    display: block;
}

#liste-complices {
  margin: 0;
  padding: 0;
}

#liste-complices li{
  cursor: pointer;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  margin: 0.5em;
  padding: 0.5em;
}

#liste-complices li:hover{
  background: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}

.mi-btn{
  display: block;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #444444;
  color: #FFF;
  box-sizing: border-box;
  padding: 0.5em;
  cursor: pointer;
}

.mi-hidden{
  display: none;
}

.mi-show{
  display: block;
}

.mi-space{
    height: 1em;
}

.canvas-col{
  border: 1px solid #444444;
}

.control-col{
  padding: 0;
}

.mi-header-bar{
  background-color: rgba(0, 0, 0, 0.5);
}

.mi-header-bar-content{
  display: flex;
  flex-direction: row;
}

.mi-border-neon{
  width: 100%;
  height: 2px;
  background-color: #81F7F3;
  box-shadow: 0px 0px 5px #81F7F3;
}

.mi-header-bar h1{
  line-height: 84px;
}

.mi-header-bar img{
  width: 92px;
  padding: 0.5rem;
}

/* Panneau */
.mi-panel{
  background-color: rgba(0, 0, 0, 0.5);
}

.mi-panel h3{
  font-style: italic;
  padding: 0.3em;
  font-size: 1.4em;
}

.mi-panel-content{
  padding: 0.3em;
  box-sizing: border-box;
}

.mi-panel{

}

/* Card */
.mi-card{
  background-color: rgba(0, 0, 0, 0.5);
}

.mi-card-profil{
    width: 100%;
}

.mi-card-body{
  padding: 1em;
}
